.signin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

/* Khung nội dung chính */
.signin-container {
  font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  padding: 40px;
  width: 100%;
  max-width: 500px;
  color: #333;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
}

.signin-title {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
}

.signin-desc {
  font-size: 16px;
  margin-bottom: 15px;
}

.signin-select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #a6a6a6;
  outline: none;
  cursor: pointer;
}

.signin-select:focus {
  border-color: #0072c6;
}
